<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{{ titulo }} - Parra Jimenez Asesores</title>
    <link rel="icon" href="img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="css/default_layout.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/smoothness/jquery-ui-1.9.2.custom.min.css">
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js_libs/jquery/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>


  </head>

  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="inicio.php">Base de datos PJA</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="{{ inicio }}"><a href="inicio.php">Inicio</a></li>
            <li class="{{ clientes }} dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Clientes<span class="caret"></span></a>
            	<ul class="dropdown-menu" role="menu">
		        <li class="{{ clientes1 }}"><a href="regUsuario.php">Crear un nuevo cliente</a></li>
		        <li class="{{ clientes2 }}"><a href="consAvanzUsuario.php">Consultas avanzadas</a></li>
		        <li class="{{ clientes3 }}"><a href="todUsuario.php">Todos</a></li>
		        <li class="divider"></li>
		        <li class="dropdown-header">Pendiente...</li>
	        </ul>
	    </li>
	    <li class="{{ polizas }} dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Polizas<span class="caret"></span></a>
            	<ul class="dropdown-menu" role="menu">
		        <li class="{{ polizas1 }}"><a href="regPoliza.php">Crear una nueva poliza</a></li>
		        <li class="{{ polizas2 }}"><a href="consPoliza">Consulta simple</a></li>
		        <li class="divider"></li>
		        <li class="dropdown-header">Más opciones...</li>
		        <li class="{{ polizas3 }}"><a href="filtrosPoliza.php">Búsqueda por filtros</a></li>
		        <li class="{{ polizas4 }}"><a href="todPoliza.php">Todas</a></li>
	        </ul>
            </li>
	    <li class="{{ contratos }} dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Contratos salud<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="{{ contratos1 }}"><a href="regContrato.php">Crear un nuevo contrato</a></li>
                <li class="{{ contratos2 }}"><a href="asociativo.php">Asociativos</a></li>
                <li class="{{ contratos3 }}"><a href="familiares.php">Familiares</a></li>
                <li class="{{ contratos4 }}"><a href="colectivos.php">Colectivos</a></li>
                <li class="divider"></li>
                <li class="{{ contratos5 }}"><a href="todContratos.php">Todos</a></li>
                <li class="{{ contratos6 }}"><a href="consAvanzContrato.php">Consulta Avanzada</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="reportes.php">Reportes</a></li>
            <li class="active"><button style="height:3.6em" class="btn btn-primary" type="button">Notificaciones <span class="badge">4</span></button></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>



  <div style="margin-top:60px" class="container">
<h2>{{ titulo }}</h2>

    {% block ventanasDeDialogo %} {% endblock %}

    {% block barraNavegacion %} {% endblock %}

    {% block contenidos %} {% endblock %}

    <hr>
    <footer>
      <p>AwakeSoft | &copy; 2015 </p>
    </footer>
  </div>
    {% block javascripts %} {% endblock %}
  </body>
</html>
